@mixin clearfix {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin scrollBar {
    &::-webkit-scrollbar-track-piece {
        background: #d3dce6;
    }

    &::-webkit-scrollbar {
        width: .375rem;
    }

    &::-webkit-slider-thumb {
        background: #99a9bf;
        border-radius: 1.25rem;
    }
}

@mixin relative {
    position: relative;
    width: 100%;
    height: 100%;
}